@import './variables';
@import './mixins';
@import './pages/home';
@import './pages/accounts';
@import './pages/account-details';
@import './pages/equipments';

// Container utility class
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 $spacing-lg;
  width: 80%;
}

